<%- include("header",{mode:''}) %>
<!-- End Main Sidebar -->

  <div class="main-content-container container-fluid px-4">
    <!-- Page Header -->
    <div class="page-header row no-gutters py-4">
      <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
        <span class="text-uppercase page-subtitle">Tablero Principal</span>
        <h3 class="page-title">Últimos Reportes</h3>
      </div>
    </div>
    <!-- End Page Header -->
    <!-- Small Stats Blocks -->
    <div class="row">
      <%for (var report of reports){%>
      <div class="col-lg col-md-6 col-sm-6 mb-4"> 
        <div class="stats-small stats-small--1 card card-small">
          <div class="card-body p-0 d-flex">
            <div class="chartjs-size-monitor"
              style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
              <div class="chartjs-size-monitor-expand"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
              </div>
              <div class="chartjs-size-monitor-shrink"
                style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
              </div>
            </div>
            <div class="d-flex flex-column m-auto">
              <div class="stats-small__data text-center">
                <span class="stats-small__label text-uppercase"><%=report.name%></span>
                <h6 class="stats-small__value count my-3"><%=report.averagePower%> Kw</h6>
              </div>
              <div class="stats-small__data">
                  <% if((report.secondsDuration / 60000).toFixed(0) > 0){ %>
                <span class="card-post__category badge badge-pill badge-primary"><%=(report.secondsDuration / 60000)%> Minutos </span>
                <% }else{ %>
                  <span class="card-post__category badge badge-pill badge-primary"><%=(report.secondsDuration / 1000)%> Segundos </span>
                  <% } %>
                  <!-- <span class="stats-small__percentage stats-small__percentage"><%=report.duracion%> Minutos</span> -->
              </div>
            </div>
            <canvas height="150" class="blog-overview-stats-small-3"></canvas>
          </div>
        </div>
      </div>
      <%}%>

      <div class="col-lg col-md-12 col-sm-12 mb-4">
          <div class="stats-small stats-small--1 card card-small">
            <div class="card-body p-0 d-flex">
                <!-- <a href="/reportes/nuevo" class="btn btn-large btn-primary">
                    <i class="icon-apple icon-3x pull-left"></i>
                        <span style="font-size:plus;">Crear Reporte</span>
                    App Store
                </a> -->
              <button type="button" onclick="window.location.href='/reportes/new'" style="font-size: 20px; line-height: 20px;" class="btn btn-sm btn-primary flex-fill">Crear Reporte</button>
            </div>
          </div>
        </div>
        <!-- End Small Stats Blocks -->
        <!-- End Top Referrals Component -->
    </div>

    <div class="row">
            <!-- Users Stats -->

            <div class="col-lg-8 col-md-12 col-sm-12 mb-4">
              <div class="card card-small">
                <div class="card-header border-bottom">
                  <h6 class="m-0">Simulaciones</h6>
                </div>

                <% if(simulations.length > 0){ %>
                <div class="card-body pt-0">
                  <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                      </div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                      <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>

                      <table class="table mb-0">
                          <thead class="bg-light">
                            <tr>
                              <th scope="col" class="border-0">Nombre</th>
                              <th scope="col" class="border-0">Duración</th>
                              <th scope="col" class="border-0">Consumo en Kw</th>
                              <th scope="col" class="border-0">Costo total</th>
                              <th scope="col" class="border-0"></th>
                            </tr>
                          </thead>
                          <tbody>
                            <%for (var simulation of simulations){%>
                            <tr id="simulation-line-<%=simulation.id%>">
                              <td>
                                <a href="/simulaciones/<%=simulation.id%>/"><%=simulation.name%></a>
                              </td>
                              <% if((simulation.durationInHours / 24) > 1){ %>
                                <td><%=(simulation.durationInHours / 24)%> Días</td>
                                <% }else{ %>
                                  <td><%=(simulation.durationInHours / 24)%> Día</td>
                                  <% } %>
                                  <td><%=simulation.totalKwh%> Kw</td>
                              <td>$ <%=simulation.totalCost.toFixed(2)%></td>
                            </tr>
                            <%}%>
                          </tbody>
                        </table>

                    <div class="row border-bottom py-2 bg-light">
                        <div class="col-12 col-sm-6">
                          <div id="blog-overview-date-range" class="input-daterange input-group input-group-sm my-auto ml-auto mr-auto ml-sm-auto mr-sm-0" style="max-width: 350px;">
    
                          </div>
                        </div>
                        <div class="col-12 col-sm-6 d-flex mb-2 mb-sm-0">
                          <button type="button" onclick="window.location.href='/simulaciones'"class="btn btn-sm btn-white ml-auto mr-auto ml-sm-auto mr-sm-0 mt-3 mt-sm-0">Ver Simulaciones completas →</button>
                        </div>
                      </div>
                  <!-- <canvas height="550" style="max-width: 100% !important; display: block; height: 275px; width: 636px;" class="blog-overview-users chartjs-render-monitor" width="1272"></canvas> -->
                </div>
                
                <% }else{ %>
                      <button type="button" onclick="window.location.href='/simulaciones/new'" height="140" style="max-width: 100% !important; display: block; height: 140px; font-size: 20px; line-height: 20px;" class="btn btn-sm btn-primary flex-fill">Crear Simulacion</button>
                <% } %>

              </div>
            </div>


            <!-- End Users Stats -->
            <!-- Users By Medition Stats -->
            <% if(simulations.length > 0){ %>
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
              <div class="card card-small h-100">
                <div class="card-header border-bottom">
                  <h6 class="m-0">Costos</h6>
                </div>
                <div class="card-footer border-bottom">
                        <div class="row">
                          <div class="col">
                            <select id="simulations"  class="custom-select custom-select-sm">
                                    <%for (var simulationId in simulations){%>
      <option value=<%=simulationId%>><%=simulations[simulationId].name%></option>
      <%}%>
                            </select>
                          </div>
                          <div class="col text-right view-report">
                            <a href="#">Costos Detallados →</a>
                          </div>
                        </div>
                      </div>

                <div class="card-body d-flex py-0">
                  <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                    <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                      <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0">
                      </div>
                    </div>
                    <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">

              </div>
            </div>
            
            <%for (var simulationId in simulations){%>
              <canvas id='canvas<%-simulationId%>' height="420" class="grafico blog-users-by-medition m-auto chartjs-render-monitor" style="<%if(simulationId!=0){%>display: none;<%}%> height: 210px; width: 287px;"></canvas>
              <%}%>
                
              
              
              <script>
              
              $(document).ready(function() {
              

              $("#simulations").change(function(){

                valor =  $("#simulations").val();

                $(".grafico").hide();
                $("#canvas"+valor).show();


              })
            
              function calcularColores(data) {
                return data.map((valor, index) => (index)).map((a) => randomHSL(a));
              }


              function randomHSL(i, transparent = false) {
                return transparent ? "hsla(" + ~~(360 * ((i / 4) % 1)) + ",70%,80%,0.1)" : "hsla(" + ~~(360 * ((i / 4) % 1)) + ",70%,80%,1)";
              }

              <%for (var simulationId in simulations){%>
      
      
                var ctx<%-simulationId%> = document.getElementById('canvas<%-simulationId%>').getContext('2d');

              porcentajes<%-simulationId%> = <%-JSON.stringify(simulations[simulationId].simulationItems.map(elem=>elem.totalCostConsumption))%>;
              labels<%-simulationId%> =  <%-JSON.stringify(simulations[simulationId].simulationItems.map(elem=>elem.name))%>;

            data<%-simulationId%> = {
              datasets: [{
                data: porcentajes<%-simulationId%>,
                backgroundColor: calcularColores(porcentajes<%-simulationId%>),
              }],
              labels:labels<%-simulationId%>
            };

            myDoughnutChart = new Chart(ctx<%-simulationId%>, {
              type: 'doughnut',
              data: data<%-simulationId%>,
              options: {
                maintainAspectRatio: true,
                  responsive: true,
                  animation: false
                }
        });

                 <%}%>
                

      });
              
              </script>
              
              
              
                </div>
              </div>

              </div>
              <% } %>

    </div>
            <!-- End Users By Medition Stats -->


            <!-- End Top Referrals Component -->
          </div>
</div>



<% include footer.ejs %>
