<%- include("header",{mode:'reports'}) %>

<div class="col-lg-12">
    <div class="page-header row no-gutters py-4">
        <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
            <span class="text-uppercase page-subtitle">Reportes</span>
            <h3 class="page-title">Nuevo Reporte</h3>
        </div>
    </div>

    <div class="card card-small mb-4">
        <div class="card-header border-bottom">
            <h6 class="m-0">Crear nuevo reporte</h6>
        </div>

        <form action="/reportes/" method="post">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <div class="form-group ">
                        <label for="feFirstName">Nombre del reporte</label>
                        <input required type="text" class="form-control" placeholder="Nombre del reporte" name="name">
                    </div>

                    <div class="form-group">
                        <label for="feInputState">Duracion del reporte</label>
                        <select required name="duracion" id="feInputState" class="form-control">
                            <option selected="">Duracion...</option>
                            <option value='8000'>5 seg</option>
                            <option value='60000'>1 minuto</option>
                            <option value='300000'>5 minutos</option>
                            <option value='900000'>15 minutos</option>
                            <option value='3600000'>1 hora</option>
                            <option value='14400000'>4 horas</option>
                            <option value='86400000'>24 horas</option>
                        </select>
                    </div>

                </li>
                <li class="list-group-item p-3" id="dispoMenu">
                    <label for="feInputState">Sensores</label>

                    <div class="form-group">
                        <label for="feInputState">Agregar sensores</label>
                        <%for (var sensor of sensors){%>
                        <div class="custom-control custom-checkbox mb-1">
                            <input type="checkbox" class="custom-control-input" id="<%=sensor.id%>"
                                data-name="<%=sensor.name%>" value="<%=sensor.id%>">
                            <label class="custom-control-label" for=<%=sensor.id%>><%=sensor.name%></label>
                        </div>
                        <!-- <option value="<%=sensor.id%>"><%=sensor.name%></option> -->
                        <%}%>
                        </div>


                    </li>



                    <li class="list-group-item p-3">
                        <button type="submit" class="btn btn-accent">Crear reporte</button>
                    </li>
                </ul>
            </form>
        </div>

    </div>

    <script>


        $(document).ready(function () {

            $("input").change(function () {
                var $input = $(this);

                const dispoId = $input.val();
                const dispoName = $input.data('name');

                const isChecked = $input.is(":checked")

                if (isChecked) {

                    const dispoElement = `
                    <li class="list-group-item p-3" id="card-${dispoId}">
                        <div class='d-flex'>
                            <label for="feInputState">Dispositivo</label>
                            <a class="ml-auto" href="#" id="borrar-${dispoId}" dispo-id="${dispoId}">Borrar</a>
                        </div>
                        <h5>${dispoName}</h5>
                        <div class="form-group ">
                            <label for="feFirstName">Nombre de la medicion</label>
                            <input type="hidden" name="dispoId" value="${dispoId}">
                            <input type="text" required class="form-control" placeholder="Nombre del reporte" name="nombreMedicion">
                        </div>
                        <div class="form-group ">
                            <label for="feFirstName">Factor de potencia</label>
                            <div id="slider-${dispoId}" class="slider-success my-4" style="margin: 0 20px">
                                <input type="hidden" class="custom-slider-input">
                            </div>
                        </div>
                    </li>`;

                    $("#dispoMenu").after(dispoElement);

                    $("#borrar-" + dispoId).click(() => {
                        $("#card-" + dispoId).remove();
                    });

                    $('#slider-' + dispoId).customSlider({
                        start: 100,
                        connect: [true, false],
                        tooltips: true,
                        range: {
                            'min': 0,
                            'max': 100
                        }
                    });
                }
                else {
                    $("#card-" + dispoId).remove();
                }
            });
        });

    </script>
    <% include footer.ejs %>