<%- include("header",{mode:'simulations'}) %>


<link rel="stylesheet" href="/styles/internet/roundslider.min.css">
<script src="/scripts/internet/roundslider.js"></script>




<div class="col-lg-12">
        <div class="page-header row no-gutters py-4">
                <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                    <span class="text-uppercase page-subtitle">Simulaciones</span>
                    <h3 class="page-title">Nueva Simulación</h3>
                </div>
            </div>
    <div class="card card-small mb-4">
        <div class="card-header border-bottom">
            <h6 class="m-0">Crear nueva simulación</h6>
        </div>

        <form action="/simulaciones/" method="post">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-3">

                    <div class="form-group ">
                        <label for="feFirstName">Nombre de la simulación</label>
                        <input type="text" class="form-control" placeholder="Nombre de la simulación" name="name">
                    </div>

                    <div class="form-group mb-0">
                            <label for="feInputState">Duracion de la simulación</label><br>
                            <button type="button" val="1" class="duration mb-2 btn btn-sm btn-primary mr-1">1 dia</button>
                            <button type="button" val="2" class="duration mb-2 btn btn-sm btn-outline-primary mr-1">1 semana</button>
                            <button type="button" val="3" class="duration mb-2 btn btn-sm btn-outline-primary mr-1">2 semanas</button>
                            <button type="button" val="4" class="duration mb-2 btn btn-sm btn-outline-primary mr-1">3 semanas</button>
                            <button type="button" val="5" class="duration mb-2 btn btn-sm btn-outline-primary mr-1">4 semanas</button>
                            <button type="button" val="6" class="duration mb-2 btn btn-sm btn-outline-primary mr-1">1 mes</button>
                            <input type="hidden" name="duration" id="duration" value="10000">
                    </div>

                    <div class="form-group ">
                            <label for="feFirstName">Costo del Kw</label>
                            <input type="text" class="form-control" pattern="[0-9.,]+" placeholder="$" name="kwCost">
                        </div>

                    <div id="slider"></div>
                </li>
                <li class="list-group-item p-3" id="reportMenu">
                    <label for="feInputState">Reportes</label>
                    <div class="form-group">
                        <section class="section-preview">
                            <%for (var report of reports){%>

                            <div class="custom-control custom-checkbox mb-1">
                                <input type="checkbox" class="custom-control-input" id="<%=report.id%>"
                                    data-name="<%=report.name%>" value="<%=report.id%>">
                                <label class="custom-control-label" for=<%=report.id%>><%=report.name%></label>
                            </div>
                            <%}%>  
                                    </div>
                    </li>
                    <li class="list-group-item p-3">
                        <button type="submit" class="btn btn-accent">Crear Simulación</button>
                    </li>
            </ul>
        </form>
    </div>
</div>


    <script>
        $(document).ready(function () {


            $(".duration").click(function() {
                $(".duration").removeClass("btn-primary");
                $(".duration").addClass("btn-outline-primary");
                $(this).removeClass("btn-outline-primary ");
                $(this).addClass("btn-primary");
                $("#duration").val($(this).attr('val'))

            })

            var reports = <%-JSON.stringify(reports) %>

                $("input").change(function () {
                    var $input = $(this);

                    const reportId = $input.val();

                    const report = reports.find(individualReport => individualReport.id == reportId)

                    console.log(reports)
                    const reportName = $input.data('name');
                    const isChecked = $input.is(":checked")


                    if (isChecked) {

                        console.log(isChecked)

                        console.log(reportId)
                        console.log(reportName)
                        console.log(report.meditions)
                        function generateCard(medition) {

                            return ` 
                            <div class="col-md-6 col-xl-3 mb-4">
                                <div class="stats-small stats-small--1 card card-small p-2">
                                    <div class="card-body p-0 d-flex">
                                        <div class="d-flex flex-column m-auto">
                                            <div class="stats-small__data text-center">
                                                <span class="stats-small__label mb-2 text-uppercase">${medition.name}</span>
                                            </div>
                                            <div id="slider-${medition.id}"></div> 
                                            <div class="stats-small__data text-center">
                                                    <span class="page-subtitle">Horas</span>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>`


                        }


                        reportElement = '';
                        for (medition of report.meditions) {
                            reportElement += generateCard(medition);
                        }

                        reportElement = `<li id="card-${reportId}"><div class="col-lg-12">
                                <input type="hidden" name="reportId" value="${reportId}">
                                <h4>${report.name}</h4>
                                <h6>Seleccione la cantidad de horas por día que utiliza cada uno de estos elementos</h6>
                            <div class='row'> ${reportElement}</div></div></li>`;


                        $("#reportMenu").after(reportElement);

                        $("#borrar-" + reportId).click(() => {
                            $("#card-" + reportId).remove();
                        });

                        for (medition of report.meditions) {
                            $(`#slider-${medition.id}`).roundSlider({
                            sliderType: "min-range",
                            width: 22,
                            radius: 100,
                            value: 12,
                            max: "24",
                            circleShape: "half-top"
                        });
                        }
                    }
                    else {
                        $("#card-" + reportId).remove();
                    }
                });
        });


    </script>

    <% include footer.ejs %>