<div class="row">
  <div class="col-md-12">
    <div class="card card-small ncard">

      <div class="card-body pt-0 ncard-body">
        <div class="card-body p-0 text-center">
          <table class="table mb-0">
            <thead class="p-3 mb-2 bg-secondary text-white">
              <tr>
                  <th scope="col" class="border-0">#</th>
                <th scope="col" class="border-0">Nombre</th>
                <th scope="col" class="border-0">Porcentaje de Uso</th>
                <th scope="col" class="border-0">Uso estimado por día</th>
                <th scope="col" class="border-0">Consumo</th>
                <th scope="col" class="border-0">Costo Consumo Total</th>
             
              </tr>
            </thead>
            <tbody>
              <%for (var simulationItem of simulation.simulationItems){%>
              <tr>
                  <td> <%=simulationItem.id%> </td>
                <td> <%=simulationItem.name%> </td>
                <td> <%=simulationItem.percentage.toFixed(2)%>%</td>
                <td> <%=simulationItem.useInHoursMedition%> Horas </td>
                <td> <%=simulationItem.totalConsumption.toFixed(2)%> kW </td>

                <td> <span class="text-success">$<%=simulationItem.totalCostConsumption.toFixed(2)%></span> </td>
                </td>
              </tr>
              <%}%>


            <tr>
                <td> <b>Costo fijo</b> </td>
                <td> ------- </td>
                <td> ------- </td>
                <td> ------- </td>
                <td> ------- </td>
                <td> <span class="text-success">$<%=simulation.fixedCost.toFixed(2)%></span> </td>

          </tr>
          </tbody>
          <tfoot>

              <thead class="p-3 mb-2 bg-success text-white">
                <tr>
                    <td> <b>TOTALES</b> </td>
                    <td> ------- </td>
                    <td> <b>100%</b> </td>
                    <td> <b>-------</b> </td>
                    <td> <b><%=simulation.totalKwh.toFixed(2)%> kW</b> </td>
              <td> <b>$<%=simulation.totalCost.toFixed(2)%></b> </td>
              </tr>
            </tfoot>
            
          </table>
        </div>
      </div>
    </div>
  </div>
</div>