<%- include("header",{mode:'simulations'}) %>

<div class="main-content-container container-fluid">
  <div class="d-flex justify-content-between">
    <div class="page-header no-gutters py-4">
      <div class="">
        <span class="text-uppercase page-subtitle"
          >Listado de Simulaciones</span
        >
        <h3 class="page-title">
          Simulaciones
        </h3>
      </div>
    </div>
    <div class="page-header py-4">
      <a
        href="/simulaciones/new"
        class="btn btn-sm btn-primary"
        style="color:white"
        >+ Nueva Simulación</a
      >
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card card-small">
        <div class="card-header border-bottom">
          <h6 class="m-0">Listado de Simulaciones</h6>
        </div>
        <div class="card-body pt-0 row">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">Nombre</th>
                <th scope="col" class="border-0">Duración</th>
                <th scope="col" class="border-0">Costo Kw/h</th>
                <th scope="col" class="border-0">Consumo en Kw</th>
                <th scope="col" class="border-0">Costo Fijo</th>
                <th scope="col" class="border-0">Costo total</th>
                <th scope="col" class="border-0"></th>
              </tr>
            </thead>
            <tbody>
              <%for (var simulation of simulationList){%>
              <tr id="simulation-line-<%=simulation.id%>">
                <td>
                  <a href="/simulaciones/<%=simulation.id%>/"
                    ><%=simulation.name%></a
                  >
                </td>
                <td><%=(simulation.durationInHours / 24)%> Días</td>
                <td>$ <%=simulation.kwhCost%></td>
                <td><%=simulation.totalKwh%> Kw</td>
                <td>$ <%=simulation.fixedCost%></td>
                <td>$ <%=simulation.totalCost.toFixed(2)%></td>
                <td>
                  <button
                    data-toggle="modal"
                    data-target="#delete-modal-<%=simulation.id%>"
                    id="delete-<%=simulation.id%>"
                    type="button"
                    class="rounded"
                  >
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
              <%}%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function deleteSimulation(simulationId) {
    $('#delete-modal-' + simulationId).modal('toggle');
    $.ajax({
      url: `/simulaciones/${simulationId}/`,
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      type: 'DELETE',
      success: function(response) { console.log(`Simulation ${simulationId} deleted`); }
    });
    $('#simulation-line-' + simulationId).hide();
  }
</script>

<%for (var simulation of simulationList){%>
  <!-- Modal -->
<div
  class="modal fade"
  id="delete-modal-<%=simulation.id%>"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Borrar simulación</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ¿Seguro quieres borrar la simulación? <br />
        <b> <%=simulation.name%></b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancelar
        </button>
        <button
          type="button"
          onClick="deleteSimulation(<%=simulation.id%>)"
          class="btn btn-primary"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</div>

<%}%> <% include footer.ejs %>
